@import "web/src/common";

.yr-button {
  font-size: $font-size;
  display: inline-flex;
  padding: $small-padding;
  @extend %border;
  justify-content: center;
  align-items: center;
  @extend %border-radius;
  vertical-align: middle;
  cursor: pointer;
  transition: all .5s;
  &:active {
    background: darken($border-color, 10%);
  }
  &:hover{
    color: $blue;opacity: .6;
    .yr-icon{
      fill: $blue;
    }
  }
  span + svg{
    margin-left: $small-padding;
  }
  &.leftIcon{
    >svg{
      order:1;
    }
    >span{
      order:2;
    }
    span + svg{
      margin-left: 0;margin-right: $small-padding;
    }
  }
}