
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

$font-size: 14px;
$border-color: #C5C5C5;
%border {
  border: 1px solid $border-color;
}

$small-padding: 4px;
%disabled {
  cursor: not-allowed;
  background: lighten($border-color, 10%);
  fill: lighten($border-color, 10%);
}

%border-radius{
  border-radius: 4px;
}